body {
  background-color: beige;
}

h1 {
  color: green;

}

div {
  font-family: Helvetica;
}

.text {
  color: white;
}

.square {
  height: 100px;
  width: 100px;
  background: red;
}

.rectangle {
  height: 100px;
  width: 200px;
  background: red;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: blue;
  text-align: center;
}

#circletext {
  padding-top: 20px;
  color: deepskyblue;
}

.oval {
  height: 100px;
  width: 200px;
  border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  background: navy;
  text-align: center;
}

#ovaltext {
  padding-top: 35px;
  color: blue;
  font-size: 22px;
  font-family: Trebuchet MS;
}

.triangleup {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid coral;
}

#triangleuptext {
  margin-top: 30px;
  margin-left: -12px;
  padding-top: 50px;
  color: black;
}
